/* Header */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000a8;
    color: white;
    z-index: 10;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in width */
}

header img {
    height: 40px;
}

header nav ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav li {
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Menu Toggle (Hamburger) */
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px; /* Adjust based on header height */
        right: 0;
        background-color: #000000a8;
        padding: 20px;
        width: 100%; /* Full width */
        box-sizing: border-box; /* Include padding in width */
        border-radius: 8px;
        left: 0; /* Align to the left of the screen */
        align-items: center;
    }

    header nav ul.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
